/*  -- BREAKPOINTS -- */
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;

/*  -- COLORS -- */
$colorBlack: #000f;
$colorWhite: #ffff;
$colorDarkGreen: #4ba87dff;
$colorGrey: #9f9f9fff;