.video {
    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-image: url(../assets/images/video-img.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 170px;
        margin-bottom: 65px;

    }

    &__img {
        min-width: 300px;
        z-index: -1;

    }

    &__header {
        color: $colorWhite;
        font-size: 22px;

    }

    &__button {
        background-color: $colorWhite;
        color: $colorDarkGreen;
        padding: 7px 14px;
        font-weight: 900;
        display: inline-block;
        text-align: center;
        font-size: 6px;

    }
}

@media (min-width: $breakpoint-sm) {
    .video {
        &__flex {
            min-height: 350px;

        }
    }
}